.header {
  padding-top: 28px;
  margin: 0 auto;
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 550px) {
  .header {
    width: calc(100% - 32px);
    padding-top: 16px;
  }
}
