.lead__image-container {
  margin: 64px auto 0;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
  .lead__image-container {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead__image-container {
    width: 100%;
    margin-top: 56px;
  }
}

@media screen and (max-width: 550px) {
  .lead__image-container {
    margin-top: 40px;
  }
}
