.cover__background {
  height: 100vh;
  max-height: 740px;
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 0;
}

.cover__background:hover .cover__overlay {
  opacity: .8;
  transition: opacity .3s;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-height: 480px;
  }
}

@media screen and (max-width: 450px) {
  .cover__background {
    max-height: 200px;
  }
}
