.footer {
  padding: 92px 48px 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 768px) {
  .footer {
    align-items: center;
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 695px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    min-height: 310px;
    padding: 64px 118px 24px 16px;
    align-items: flex-start;
  }
}
