.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: 40px;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    margin-left: 28px;
  }
}

@media screen and (max-width: 680px) {
  .place__website {
    margin: 32px auto 0 0;
    width: 100%;
  }
}
